@font-face {
    font-family: CMR;
    src: url(../fonts/cmuserif_roman_macroman/cmunrm-webfont.woff);
  }
  @font-face {
    font-family: CMB;
    src: url(../fonts/cmuserif_bold_macroman/cmunbx-webfont.woff);
  }
@font-face {
        font-family: 'Antic Didone', serif;
        src: url(https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap);

}
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Antic+Didone&family=Montserrat:wght@100&display=swap);

}
@font-face {
    font-family: 'Averia Serif Libre', cursive;
    src: url(https://fonts.googleapis.com/css2?family=Antic+Didone&family=Averia+Serif+Libre:ital,wght@0,300;0,700;1,300&family=Montserrat:wght@100&display=swap);

}

.LatexTitle{
    font-family: 'Antic Didone', serif;
    font-size: 80px;
    padding-top: 15vh;
    text-align: center;
    margin-bottom: 20px;
}

.LatexName{
    font-family: 'Antic Didone', serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.LatexDate{
    font-family: CMR;
    font-size: 21px;
    text-align: center;
    text-align: justify;
    padding-top: 15vh;
    text-indent: 20px;
    padding-bottom: 25vh;
}

.LatexAbstract{
    font-family: CMB;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.LatexAbstractText{
    margin-top:10px;
    font-family: CMR;
    font-size: 21px;
    text-align: center;
    text-align: justify;
    text-indent: 20px
}

.Margins{
    padding-left: 21%;
    width: 58%;
}

.AbstractMargins{
    padding-left: 6%;
    width: 88%;
    padding-bottom: 15px;
}

#toc_container {
    display: table;
    font-family: CMR;
    font-size: 21px;
    text-align: left;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
}

.toc_title {
    font-family: 'Antic Didone', serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.Section{
    font-family: CMB;
    font-size: 33px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 20px;
}

.BodyText{
    font-family: CMR;
    font-size: 23px;
    text-align: justify;
    margin-top: 13px;
    margin-bottom: 45px;
    line-height: 125%;
}

.footerSize{
    height: 30vh;
    width: 100%;
}

/* A link that has not been visited */
a:link {
    color: black;
}
/* A link that has been visited */
a:visited {
    color:rgb(37, 75, 97);
}
/* A link that is hovered on */
a:hover {
    color:hsl(0, 1%, 50%);
}
/* A link that is selected */
a:active {
    color: hsl(46, 65%, 32%);
}